<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Studio & Contact</h3>
          <ul>
            <li><a href="contact.html">Book a Session</a></li>
            <li><a href="location.html">Studio Location</a></li>
            <li><a href="hours.html">Hours & Availability</a></li>
            <li><a href="inquiries.html">General Inquiries</a></li>
          </ul>
        </div>

        <!-- Column 2 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Policies</h3>
          <ul>
            <li><a href="terms.html">Terms & Conditions</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>
            <li><a href="cancellation.html">Cancellation Policy</a></li>
            <li><a href="image-rights.html">Image Rights & Usage</a></li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Services & Pricing</h3>
          <ul>
            <li><a href="pricing.html">Session Pricing</a></li>
            <li><a href="wedding-packages.html">Wedding Packages</a></li>
            <li><a href="portrait-packages.html">Portrait Sessions</a></li>
            <li><a href="gift-cards.html">Gift Cards</a></li>
          </ul>
        </div>

        <!-- Column 4 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Client Resources</h3>
          <ul>
            <li><a href="prep-guide.html">Session Prep Guide</a></li>
            <li><a href="faq.html">Frequently Asked Questions</a></li>
            <li><a href="portfolio-all.html">View Portfolio</a></li>
            <li><a href="blog.html">Photography Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Social Icons (unchanged) -->
  <div class="container text-center mt-4">
    <a href="#" aria-label="Facebook"><i class="fab fa-facebook fa-lg mx-2"></i></a>
    <a href="#" aria-label="Instagram"><i class="fab fa-instagram fa-lg mx-2"></i></a>
    <a href="#" aria-label="Twitter"><i class="fab fa-twitter fa-lg mx-2"></i></a>
    <a href="#" aria-label="Pinterest"><i class="fab fa-pinterest fa-lg mx-2"></i></a>
  </div>
</footer>
